<h1>BroList</h1>

<%= link_to "a New Bro shall b Born", new_bro_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Job</th>
    <th>Favorite Food</th>
  </tr>
  <% @bros.each do |bro| %>
    <tr>
      <td><%= link_to bro['name'], bro_path(bro['id']) %></td>
      <td><%= bro['job'] %></td>
      <td><%= bro['fav_food'] %></td>
    </tr>
  <% end %>
<table>