<h1>BroList</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Job</th>
    <th>Favorite Food</th>
  </tr>
  <% @bros.each do |bro| %>
    <tr>
      <td><%= bro['name'] %></td>
      <td><%= bro['job'] %></td>
      <td><%= bro['fav_food'] %></td>
    </tr>
  <% end %>
<table>