<h1>Show Bro!</h1>

<div>
<p>Yo Bro, my name is <b><%= @bro.name %></b>!</p>

<p>A Little bit about your homeboy,<br><b><%= @bro.bio %></b></p>

<p>I work as a <b><%= @bro.job %></b><br>
And my favorite food is <b><%= @bro.fav_food %></b>!
</p>

<p>Damn! I'm awesome... Yo Bro What Bout you?</p>
</div>